Repository D3boker1/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @AfonsoSantos96, @ninolomata

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @AfonsoSantos96

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @AfonsoSantos96
src/arch/armv8/aarch32 @josecm @AfonsoSantos96

src/arch/riscv @josecm @ninolomata

riscv: remove errorprone "subtract one" logic
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix get target function
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix bug and improve domain_emul_handler
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: improve idc_uml_handler
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: improve addr reserved function
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove unecessary macro defines
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix update topi
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: comments on vaplic header file
  src/arch/riscv/irqc/aia/inc/vaplic.h
Owners: @josecm, @ninolomata

riscv: comments in aplic.h
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: fix aplic init function
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: improve aplic_handle function
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: refac aplic driver
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: remove defines in aplic driver
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: fix aplic handle function
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: refact vaplic get claimi
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: comments in vaplic.c
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

update(riscv): relocate IRQC mapping; change names
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
Owners: @josecm, @ninolomata

update(riscv): change arch platform structure
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
  src/platform/qemu-riscv64-virt/virt_desc.c
Owners: @josecm, @ninolomata, @DavidMCerdeira

fix(riscv): riscv: add missing license
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

update(riscv): improve code readness
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/vplic.h
  src/arch/riscv/irqc/plic/vplic.c
Owners: @josecm, @ninolomata

fix(riscv/aplic): change idcid type; remove irqc_t
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

styling(riscv): change aplic functions name
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

fix(riscv/aplic): fix aplic idc init
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

refac(riscv/aplic): refac aplic driver
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv): remove underscore in identifiers name
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/plic/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/inc/vplic.h
Owners: @josecm, @ninolomata

riscv: add CFLAGS to asm_defs_hdr rule
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(riscv/vaplic): remove redef of bit32_*
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

update(riscv): refact emul_handler functions
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

update(riscv/vaplic): improve idc functions
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv): fix hart line update function
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

refact(riscv/vaplic): domain funcs
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

styling(riscv): change setip/e name to ip/e
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

refac(riscv/vaplic): refac srccfg and target funcs
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

refactor(riscv/vaplic): refac inject function
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

refactor(riscv): remove uncessary defines
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

fix(riscv/(v)aplic): fix pend and enbl functions
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

styling(riscv): remove comments
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv/vaplic): remove unused var in vaplic
  src/arch/riscv/irqc/aia/inc/vaplic.h
Owners: @josecm, @ninolomata

fix(riscv/vaplic): fix emul*access addr calc
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv): fix idc_id type in funcs parameters
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata
