Repository D3boker1/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @AfonsoSantos96, @ninolomata

fix(vaplic): make domaincfg.DM bit hard-coded
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riascv/irqc/aia): fix aplic structures name
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv/irqc/aia): change IPRIO macro name
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv/vaplic): fix typo
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv/aplic): change aplic handle func
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

fix(riscv/plic): fix typo
  src/arch/riscv/irqc/plic/plic.c
Owners: @josecm, @ninolomata

fix(riscv/irqc): give name to irqc union
  src/arch/riscv/inc/arch/platform.h
Owners: @josecm, @ninolomata

fix(riscv/aia). fix typo
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

fix(riscv): move (A)PLIC macros to interrupts.h
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/platform/qemu-riscv64-virt/virt_desc.c
Owners: @josecm, @ninolomata, @DavidMCerdeira

fix(aia/irqc): refact irqc_config_irq when en is F
  src/arch/riscv/irqc/aia/inc/irqc.h
Owners: @josecm, @ninolomata

feat(riscv): change irqc file structure
  src/arch/riscv/arch.mk
  src/arch/riscv/asm_defs.c
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/plic/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/inc/vplic.h
  src/arch/riscv/irqc/plic/objects.mk
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
  src/arch/riscv/objects.mk
  src/arch/riscv/vm.c
Owners: @josecm, @ninolomata

feat(riscv/irqc): add aplic
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/objects.mk
Owners: @josecm, @ninolomata

feat(riscv/irqc): add vaplic
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/objects.mk
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

feat(platform/qemu-riscv): make IRQC configurable
  src/platform/qemu-riscv64-virt/platform.mk
  src/platform/qemu-riscv64-virt/virt_desc.c
Owners: @josecm, @DavidMCerdeira

fix aplic handler
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

enable hpmcounters
  src/arch/riscv/vm.c
Owners: @josecm, @ninolomata

add debug info
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

update(interrupts): add arch. interrupt reservation specific mechanism
  src/arch/armv8/interrupts.c
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
  src/core/inc/interrupts.h
  src/core/interrupts.c
Owners: @josecm, @DavidMCerdeira, @ninolomata

feat(riscv/aplic): add MSI support
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

feat(riscv/vaplic): add MSI mode support
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

update(interrpts): change IPI structure
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

feat(riscv/imsic): add support for RISC-V IMSIC
  src/arch/riscv/arch.mk
  src/arch/riscv/inc/arch/csrs.h
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/imsic.c
  src/arch/riscv/irqc/aia/inc/imsic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/objects.mk
  src/arch/riscv/vm.c
  src/core/inc/interrupts.h
  src/core/interrupts.c
  src/platform/qemu-riscv64-virt/virt_desc.c
Owners: @josecm, @ninolomata, @DavidMCerdeira

change(aia): move virqc_init definition to irqc header
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
Owners: @josecm, @ninolomata

fix(riscv/aia): add a virtual imsic to properly map the guests accesses to the IMSICs
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vimsic.h
  src/arch/riscv/irqc/aia/objects.mk
  src/arch/riscv/irqc/aia/vimsic.c
Owners: @josecm, @ninolomata

feat(platform): add Al Saqr platform
  src/platform/alsaqr/alsaqr_desc.c
  src/platform/alsaqr/inc/plat/platform.h
  src/platform/alsaqr/objects.mk
  src/platform/alsaqr/platform.mk
Owners: @josecm, @DavidMCerdeira

fix(8250_uart): hot fix. add missing declaration
  src/platform/drivers/8250_uart/inc/drivers/8250_uart.h
Owners: @josecm, @DavidMCerdeira

add(configs): add linux guest config for alsaqr
  .gitignore
  configs/alsaqr-linux-plic/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(configs): add configurations for linux guests
  configs/alsaqr-linux-aia/config.c
  configs/alsaqr-linux-aplic/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(configs): add bao configurations for baremetal guests
  configs/alsaqr-baremetal-aia/config.c
  configs/alsaqr-baremetal-aplic/config.c
  configs/alsaqr-baremetal-plic/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(platform): fix alsaqr num harts to 2
  src/platform/alsaqr/alsaqr_desc.c
Owners: @josecm, @DavidMCerdeira

fix(configs): fix wrong irqc initialization
  configs/alsaqr-baremetal-aia/config.c
  configs/alsaqr-baremetal-aplic/config.c
  configs/alsaqr-linux-aia/config.c
  configs/alsaqr-linux-aplic/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(platform/cva6): add support for cva6 platform
  src/platform/cva6/cva6_desc.c
  src/platform/cva6/inc/plat/platform.h
  src/platform/cva6/objects.mk
  src/platform/cva6/platform.mk
Owners: @josecm, @DavidMCerdeira

add(configs): add config for a baremetal guest with AIA
  configs/cva6-baremetal-aia/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(config): fix alsaqr configs
  configs/alsaqr-baremetal-aia/config.c
  configs/alsaqr-baremetal-aplic/config.c
  configs/alsaqr-baremetal-plic/config.c
  configs/alsaqr-linux+baremetal-aia/config.c
  configs/alsaqr-linux-aia/config.c
  configs/alsaqr-linux-aplic/config.c
  configs/alsaqr-linux-plic/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(platform): add culsans platform
  configs/culsans-baremetal-aia/config.c
  src/platform/culsans/culsans_desc.c
  src/platform/culsans/inc/plat/platform.h
  src/platform/culsans/objects.mk
  src/platform/culsans/platform.mk
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

feat(config): add config for linux on culsans platform
  configs/culsans-linux-aia/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

fix(configs): Remove absolute path to guests images
  configs/alsaqr-baremetal-aia/config.c
  configs/alsaqr-baremetal-aplic/config.c
  configs/alsaqr-baremetal-plic/config.c
  configs/alsaqr-linux+baremetal-aia/config.c
  configs/alsaqr-linux-aia/config.c
  configs/alsaqr-linux-aplic/config.c
  configs/alsaqr-linux-plic/config.c
  configs/culsans-baremetal-aia/config.c
  configs/culsans-linux-aia/config.c
  configs/cva6-baremetal-aia/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

update RISC-V IOMMU driver
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/iommu.c
Owners: @josecm, @ninolomata

add IOMMU to AlSaqr platform
  src/platform/alsaqr/alsaqr_desc.c
Owners: @josecm, @DavidMCerdeira

add AIA+IOMMU configs
  configs/alsaqr-baremetal-aia/config.c
  configs/alsaqr-baremetal-aplic/config.c
  configs/alsaqr-baremetal-plic/config.c
  configs/alsaqr-linux+baremetal-aia/config.c
  configs/alsaqr-linux-aia/config.c
  configs/alsaqr-linux-aplic/config.c
  configs/alsaqr-linux-plic/config.c
  configs/culsans-baremetal-aia/config.c
  configs/culsans-linux-aia/config.c
  configs/cva6-baremetal-aia/config.c
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @AfonsoSantos96

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @AfonsoSantos96
src/arch/armv8/aarch32 @josecm @AfonsoSantos96

src/arch/riscv @josecm @ninolomata
