Repository D3boker1/bao-hypervisor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep, @AfonsoSantos96, @ninolomata

.github/CODEOWNERS:

* @josecm @sandro2pinto @DavidMCerdeira @danielRep

src/ @josecm @DavidMCerdeira
scripts/ @josecm

src/core/mpu @josecm @AfonsoSantos96

src/arch/armv8 @josecm @DavidMCerdeira
src/arch/armv8/armv8-r @josecm @AfonsoSantos96
src/arch/armv8/aarch32 @josecm @AfonsoSantos96

src/arch/riscv @josecm @ninolomata

riscv/aplic: fix domain masking
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv/irqc: UPDATE max intp. macro name
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

riscv/aplic: code styling
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv/irqc: change styling functions
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/plic/inc/vplic.h
Owners: @josecm, @ninolomata

[styling] riscv/irqc: virqc init function
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/vplic.h
  src/arch/riscv/irqc/plic/vplic.c
  src/arch/riscv/vm.c
Owners: @josecm, @ninolomata

[structure] riscv: relocate IRQC mapping
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
Owners: @josecm, @ninolomata

[styling] riscv: change irqc structures name
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
Owners: @josecm, @ninolomata

[styling] riscv: change clear intp function name
  src/arch/riscv/interrupts.c
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

riscv: update platform structure
  src/arch/riscv/inc/arch/platform.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/imsic.c
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/plic.c
  src/arch/riscv/irqc/plic/vplic.c
  src/platform/qemu-riscv64-virt/virt_desc.c
Owners: @josecm, @ninolomata, @DavidMCerdeira

riscv: add missing license
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/irqc.h
Owners: @josecm, @ninolomata

riscv: add IRQC check
  src/arch/riscv/interrupts.c
Owners: @josecm, @ninolomata

[styling] riscv: improve code readness
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
  src/arch/riscv/irqc/plic/inc/vplic.h
  src/arch/riscv/irqc/plic/vplic.c
Owners: @josecm, @ninolomata

riscv: remove duplicated type define
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: change idcid_t type
  src/arch/riscv/irqc/aia/inc/aplic.h
Owners: @josecm, @ninolomata

riscv: change clear pending intp function name
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove unsued vars in APLIC
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: fix idc_init
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: fix set sourcecfg function
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: add CFLAGS to asm_defs_hdr rule
  Makefile
Owners: @josecm, @sandro2pinto, @DavidMCerdeira, @danielRep

riscv: remove underscore in identifiers name
  src/arch/riscv/inc/arch/interrupts.h
  src/arch/riscv/inc/arch/vm.h
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/imsic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/plic/inc/irqc.h
  src/arch/riscv/irqc/plic/inc/plic.h
  src/arch/riscv/irqc/plic/inc/vplic.h
Owners: @josecm, @ninolomata

riscv: remove checks on implemented interrupts.
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: change macro name
  src/arch/riscv/irqc/aia/aplic.c
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/inc/irqc.h
  src/arch/riscv/irqc/aia/inc/vaplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove unnecessary check in set target
  src/arch/riscv/irqc/aia/aplic.c
Owners: @josecm, @ninolomata

riscv: fix typo
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix claimi spurious condition
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove redefinitions of bit32_get/set/clear
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix vcpu to pcpu type
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix missing modulo on calls to bit32_*
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove commented code
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix the word alignment in idc emul
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix bad aplic base.
  src/arch/riscv/irqc/aia/inc/aplic.h
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: simplify the idc id calculation
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: change code to be more consistency
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove styling comment
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix bad mask in domain emul handler
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: change function name to be more descriptive
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: use mask macro to improve code readness
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: remove bad call to aplic driver in vaplic
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: fix update topi fucntion
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata

riscv: add missing Doxygen comments
  src/arch/riscv/irqc/aia/vaplic.c
Owners: @josecm, @ninolomata
